{% if paginator.posts %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign postsByYear = posts | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in postsByYear %}
  <p class="post-year">{{ year.name }}</p>
  <ul class="list list--posts">
    {% for post in year.items %}
      <li class="item item--post">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}

{% if paginator.posts %}
  {% include post-pagination.html %}
{% endif %}
